.nav-tabs .top-links,
.nav-tabs .top-links.active {
    /* border-top: 2px solid #6c757d; */
}

#f {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0.3rem;
}

.container {
    background-color: rgb(243, 239, 239);
    margin-top: 3rem;
    margin-left: 4rem;
    position: relative;
    left: 95px;
}

.form-converter {
    font-family: "Courier New", Courier, monospace;
    font-size: 15pt;
    margin-left: 21rem;
}

.form-converter p {
    padding: 1rem;
    color: black;
}

#converting-button {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#mytab {
    padding-top: 2rem;
    background-color: grey;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 2px solid black;
    border-top-color: #2fa4e7;
    border-bottom-color: white;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #2fa4e7 !important;
}
.bkg {
    background-color: #2fa4e7 !important;
}

#f-tab {
    margin-left: 6rem;
    font-family: serif;
    font-size: 18pt;
    color: rgb(255, 255, 255);
    border-bottom-color: #2fa4e7;
}

#c-tab {
    font-family: serif;
    font-size: 18pt;
    color: rgb(255, 255, 255);
    border-bottom-color: #2fa4e7;
}
#k-tab {
    font-family: serif;
    font-size: 18pt;
    color: rgb(255, 255, 255);
    border-bottom-color: #2fa4e7;
}

#FtoCbutton {
    margin-bottom: 2rem;
}

#CtoFbutton {
    margin-bottom: 2rem;
}
#KtoFbutton {
    margin-bottom: 2rem;
}
